#result {
  margin-top: 20px;
  text-align: center;
}

#result img {
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#result .calorias {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff4f6d;
}
