/* Importamos la fuente Inter (opcional, pero queda bien dejarla) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Las 3 directivas obligatorias de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;